<div class="main-content">
    {{>header}}
     {{!-- To inject data you must use two curly braces {{}} --}}
    <img class="about-img"src="/images/robot.png" alt="">
    <p>This site was made by Julio Perez. It uses data from mapbox.com and weatherstack.com.</p>
</div>

{{>footer}}