<head>
    <link rel="icon" href="/images/weather.png">
</head>

<div class="main-content">
    {{>header}}
    {{!-- To inject data you must use two curly braces {{}} --}}
    <p>{{message}}</p>
</div>

{{>footer}}